{% extends 'index.jinja' %}

{% block titulo %}
  <title>Listado de Cargos</title>
{% endblock titulo %}

{% block body %}
  <div class="container mt-3">
    {% include 'componentes/tab.jinja' with empleado="" nominas="" depa="" cargo="active" contrato="" %}
    <div class="row">
      <h1>Listado de Cargos</h1>
    </div>
    <div class="row">
      {% include 'componentes/tabla.jinja' with table_body=table_body ruta="Update_Cargo" modelo="Cargo" %}
    </div>
    {% include 'componentes/add-btn.jinja' with name="Crear_Cargo" %}
  </div>
{% endblock body %}
