{% extends 'index.jinja' %}

{% block titulo %}
    <title>Inicio</title>
{% endblock titulo %}


{% block body %}
    <div class="container justify-content-center display-flex">
        <h2>Hentai</h2>
    </div>
    <h1>Estamos en el inicio</h1>
{% endblock body %}
