{% extends 'index.jinja' %}

{% block titulo %}
  <title>Listado de nominas</title>
{% endblock titulo %}

{% block body %}
  <div class="container mt-3">
    {% include 'componentes/tab.jinja' with empleado="active" nominas="" depa="" cargo="" contrato="" %}
    <div class="row">
      <h1>Listado de empleados</h1>
    </div>
    <div class="row">
      {% include 'componentes/tabla.jinja' with table_body=table_body ruta="Update_Empleado" modelo="Empleado" %}
    </div>
    {% include 'componentes/add-btn.jinja' with name="Crear_Empleado" %}
  </div>
{% endblock body %}
