{% extends 'index.jinja' %}

{% block titulo %}
  <title>Listado de Nominas</title>
{% endblock titulo %}

{% block body %}
  <div class="container mt-3">
    {% include 'componentes/tab.jinja' with empleado="" nominas="active" depa="" cargo="" contrato="" %}
    <div class="row">
      <h1>Listado de nominas</h1>
    </div>
    <div class="row">
      {% include 'componentes/tabla.jinja' with table_body=table_body %}
    </div>
  </div>
{% endblock body %}
