{%extends "index.jinja"%}

{%block body%}
    <h1>inicia Secion</h1>
    {{error}}
    <form method="POST" action="{%url 'Secion'%}">
        {%csrf_token%}
        {{form.as_p}}
        <button>
            singup
        </button>
    </form>
{%endblock%}
